<h1>Editing Restauraunt</h1>

<%= render 'form', restauraunt: @restauraunt %>

<%= link_to 'Show', @restauraunt, class:"btn btn-link" %> |
<%= link_to 'Back', restauraunts_path, class:"btn btn-link" %>
